E-Shop/dd.dtd

<!ELEMENT REALISATEUR (FILM*)>
<!ELEMENT REALISATEUR numreal ID #REQUIRED
nom CDATA #REQUIRED
age CDATA #REQUIRED>
<!ELEMENT PRODUCTEUR (FILM*)>
<!ELEMENT PRODUCTEUR 
numprod ID #REQUIRED
nom CDATA #REQUIRED
budget CDATA #REQUIRED>
<!ELEMENT FILM EMPTY>
<!ELEMENT FILM 
numFilm ID #REQUIRED
budget CDATA #REQUIRED
numprod CDATA #REQUIRED>
<!ELEMENT PROGRAMME (FILM*)>
<!ELEMENT PROGRAMME 
numprog ID #REQUIRED
salle CDATA #REQUIRED
jour CDATA #REQUIRED
nbEntrées CDATA #REQUIRED>
